In [32]:
import gc
import time
import numpy as np
import pandas as pd
import warnings
import datetime

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 1000)

In [33]:
seg6=pd.read_csv('../temp_submissions/serge6.csv.gz')

In [34]:
seg6.head(5)

        id  answer_score
0   273508      3.962921
1   999144      1.000000
2  2184418      3.744694
3  1175028      1.378462
4  6793537      1.751571

In [35]:
nn=pd.read_csv('../temp_submissions/yifan_sub_2018-05-19-17-06.csv.gz')

In [36]:
sub=seg6.copy()

In [40]:
sub['answer_score']=seg6['answer_score']*0.95+nn['answer_score']*0.05

In [41]:
now=datetime.datetime.now()
now=str(now.strftime('%Y-%m-%d-%H-%M'))

file='../temp_submissions/avg_sub_' + now + '.csv.gz'
sub[['id','answer_score']].to_csv(file, compression='gzip', index=False)